@charset "UTF-8";
/* skip-nav -S */
.skip-nav-tit{ 
    width: 100%; height: 30px; 
    text-align: center; line-height: 30px; color:#fff; 
    background-color: #002060;
    position: absolute; left: 0; top: -100px; z-index: 20;
  }
  .skip-nav-tit:focus{top: 0;}
/* skip-nav -E */
/* common -S */
.screen_reader{font-size:0;text-indent:-9999px;}
.inner{width:1280px;margin:0 auto;}

.clearfix::after{ content: ""; display: block; clear: both;}
/* common -E */
/* header */
.header{ width: 100%; position: absolute;left: 0; top: 0; z-index: 100;}
.header::before{content: "";display: block; width: 100%; height: 200px; background-color:#fff; position: absolute; left: 0; top: 0; z-index: -10; opacity: 0; transition: all 0.3s;}
.header:hover::before{opacity: 0.6;}
.header:hover .logo_desc{ color: #0d4795; }
.header:hover .gnb_link{ color: #111}
/* .header:hover .gnb_link:after{ width} */
.header .inner{ margin: 81px auto 0;}

.header .logo{display: inline-block; width: 270px; height: 38px; }
.logo .logo_link{display: block;}
.logo .logo_img{ display: inline-block; margin-right: 10px; width: 53px; height: 38px; background-image: url(../img/logo.png); vertical-align: top;}
.logo .logo_desc{font-size: 30px; line-height: 38px; transition: all 0.3s;}

.header .gnb{ float: right; }
.gnb .gnb_list{margin-top: 10px;}
.gnb_list li{display: inline-block;}
.gnb_list li+li{ margin-left: 102px;}
.gnb_list .gnb_link{  padding: 5px 0; font-size: 25px; color: #fff; transition: all 0.3s; position: relative; }
.gnb_list .gnb_link:after{ content: ""; display: block; width:0; height: 8px; background-color: #f00; position: absolute; bottom: -5px; left: 0; transition: all 0.3s;}
.gnb_list .gnb_link:hover:after{ width:100% }

/* quick_menu */
.quick_menu{position: fixed; left: 50%; top: 50%; margin-left: 650px; z-index: 50;}
.quick_list li{width:138px;height:138px; border-radius: 100%; overflow: hidden;position: relative;}
.quick_list li::after{content: "";display: block;position: absolute; left: -5px; top: -5px; width: 133px; height: 133px; border-radius: 100%; border: 8px solid rgb(255, 217, 0); opacity: 0; transition: all 0.3s; }
.quick_list li+li{margin-top:112px;}
.quick_list li:hover::after{opacity: 1;}
.quick_list li:hover .quick_link{ transform: scale(1.3); }
.quick_list .quick_link{ display:block; width: 100%; height: 100%; padding-top: 48px; text-align: center; color: #fff; transition: all 0.3s; font-size: 18px; line-height: 24px;}
.quick_list .member_link{background-color:#080b43;}
.quick_list .counsel_link{background-color: #0d4795;}
/* main */
.main{background:linear-gradient(#080b43 40%,#4248ab 80%); }
/* big-visual -S */
.big-visual-wrap{ width: 100%; position: relative; }
.big_visual{ width: 100%; height: 1044px; overflow: hidden; }
.big_visual .slide { width: 100%; height: 1044px; position: relative; z-index: 1; }
.big_visual .slide1{width: 100%; background-image: url(../img/visual1.png);}
.slide1 .slide_tit{ margin: 255px 0 138px 98px; font-size:105px;}
.slide1 .slide_tit .tit_desc{display:block; color: #fff;position: relative;}
.slide1 .slide_tit .tit_desc::after{content: "";display:inline-block;width: 631px;height: 23px;background-color: #f00;position: absolute;left: 0;top: 50%; z-index: -10;}
.slide1 .slide_tit .tit_desc:nth-child(2)::after{width: 560px;}
.slide1 .slide_tit .tit_desc:nth-child(3)::after{width: 730px;}
.slide1 .slide_tit .tit_emph{color:#080b43;}
.slide1 .slide_desc {margin-left:85px;} 
.slide_desc .desc_detail{display: block; color: #fff; font-size: 50px;}
.slide_desc .desc_detail + .desc_detail { margin-top: 31px; }
.desc_detail .desc_emph{font-size: 65px; position: relative;}
.desc_detail .desc_emph::after{content:"";display:block; width: 118px; height: 17px; background-color: #f00; position: absolute; left: 0; bottom: 0; z-index: -10;}
.desc_detail:nth-child(2) .desc_emph::after{width:61px;}

.big_visual .slide2{width: 100%; background-image: url(../img/visual2.png);}
.slide2 .slide_text{ margin-top: 255px; text-align: center; }
.slide2 .tit_desc{ display: block; font-size: 110px; color: #fff;}
.slide2 .tit_desc + .tit_desc { margin-top: 136px; }
/* big-visual -E */
/* scroll -S */
.scroll{padding: 48px 0 108px;}
.scroll_tit{ font-weight: bold; font-size: 30px; color: #fff; text-align: center; position: relative;}
.scroll_icon{display: block; margin: 15px auto 0; width: 68px; height: 98px; border-radius: 35.5px; border: 3px solid #fff;}
.scroll_bar{display: block; margin: 26px auto 0; width: 4px; height: 46px; background-color: #fff; animation: scroll 1.6s infinite; transition: all 0.3s;}

/* scroll -E */
/* start -S */
.start{ background-color: #fff; padding-bottom: 406px;}
.start .start_box{ display: inline-block; position: relative;}
.start .start_model{ margin-right: 51px; position: relative; }
.start .start_box::after{ content: ""; width: 471px; height: 22px; background-color: #f00; position: absolute;left: 0; bottom: 0; }
.start_desc{ display: inline-block; margin-top: 115px; vertical-align: top; }
.start_desc .desc_detail{ display: block; margin-bottom: 133px; font-size: 72px;}
.start_desc .desc_detail:first-child .desc_text{margin: 0;}
.start_desc .desc_detail:nth-child(2){ margin-bottom: 55px; font-size: 48px;}
.start_desc .desc_detail:nth-child(3){ margin-bottom: 104px; font-size: 48px;}
.start_desc .desc_suggestion{ display: inline-block; width: 600px; height: 88px; background-image: url(../img/suggestion.png); }
.start_desc .desc_emph{ display: inline-block; margin-right: 31px; width: 205px; height: 77px; background-image: url(../img/new.png); vertical-align: top; }
.start_desc .desc_text{ display: inline-block; vertical-align: top; margin: 12px;}
/* status -S */
.status{ padding-bottom: 222px; background-color: #fff;}
.status .status_tit{ display: block; margin-bottom: 328px; text-align: center; font-size: 48px;}
.status_tit .tit_emph{display: inline-block; width: 194px; height: 78px; background-image: url(../img/principal.png); vertical-align: top;}
.status .status_desc{display: block; margin: 0 auto 262px; width: 651px; height: 140px; background-image: url(../img/something.png);}
.status .think_box{ margin-left: 163px; width: 1088px; height: 739px; background-image: url(../img/brainstorming.png); position: relative;}
.think_box .think_desc_blue{ font-size: 50px; color: #080b43; position: absolute; left: 0; top: 0;}
.think_box .think_desc_red{ font-size: 40px; color: #f00; position: absolute; left: 0; top: 0; }
.think_box span:nth-child(1){left: 455px;top: 74px;}
.think_box span:nth-child(2){left: 325px;top: 163px;}
.think_box span:nth-child(3){left: 701px;top: 163px;}
.think_box span:nth-child(4){left: 136px;top: 240px;}
.think_box span:nth-child(5){left: 548px;top: 219px;}
.think_box span:nth-child(6){left: 405px;top: 306px;}
.think_box span:nth-child(7){left: 644px;top: 283px;}
.think_box span:nth-child(8){left: 230px;top: 383px;}
.think_box span:nth-child(9){left: 527px;top: 414px;}
.think_box span:nth-child(10){left: 718px;top: 373px;}
.think_box span:nth-child(11){left: 340px;top: 512px;}
/* solution -S */
.solution{ padding: 193px 0 279px; text-align: center; }
.solution span{ display: block; color: #fff;}
.solution .solution_tit{ margin-bottom: 158px; font-size: 70px; }
.solution .solution_desc{ margin-bottom: 161px; font-size: 130px; }
.solution .solution_detail{ margin-bottom: 183px; font-size: 180px; }
.solution .solution_bar{ display: inline-block; width: 18px; height: 177px; background-color: #fff; }
/* help -S */
.help{ padding: 123px 0 107px; background: url(../img/background-deco.png) no-repeat;}
.help .help_detail{margin-bottom: 150px;}
.help_box{ display: inline-block; margin-bottom: 150px; width: 453px; height: 454px; border-radius: 100%; background-color: rgb( 255, 255, 255, 0.55); text-align: center; vertical-align: top; }
.help_box + .help_box{ margin-left: 360px; }
.help_box .box1_detail{ display: block; font-size: 40px; color: #fff; }
.help_box .box1_detail:nth-child(1){margin-top: 104px;}
.help_box .box1_detail:nth-child(2){margin-top: 75px;}
.help_box .box1_detail:nth-child(3){margin-top: 71px;}
.help_box .box2_detail{ display: block; font-size: 60px; color: #fff; position: relative; }
.help_box .box2_detail:nth-child(1){margin-top: 159px;}
.help_box .box2_detail:nth-child(1)::before{content:""; width: 154px; height: 16px; background-color: #f00; position: absolute; left: 145px; bottom: -20px;}
.help_box .box2_detail:nth-child(2){margin-top: 33px;}
.help_box .box2_detail:nth-child(2)::after{content:""; width: 180px; height: 16px; background-color: #f00; position: absolute; left: 136px; bottom: -20px;}
.box2_detail .detail_dot{ display: inline-block; position: relative;}
.box2_detail .detail_dot::after{ content: ""; width: 15px; height: 15px; border-radius: 100%; background-color: #4e54c0; position: absolute; left: 13px; top: -13px; animation: beat 1.3s infinite;}
.box2_detail .detail_dot:nth-child(2)::after{ animation-delay: 0.7s;}
.box2_detail .detail_dot:nth-child(3)::after{ animation-delay: 1s; }
.help_tit{ display: block; margin-bottom: 106px; font-size: 48px; color: #fff; text-align: center;}
.help_content{ display: block; margin: 0 auto 88px; width: 458px; height: 99px; background-image: url(../img/CEO.png);  position: relative;}
.help_content::before{content:""; position: absolute; left: -210px; top: 42%; width: 180px; height: 16px; border: 5px solid #fff; background-color: #f00; }
.help_content::after{content:""; position: absolute; right: -210px; top: 42%; width: 180px; height: 16px; border: 5px solid #fff; background-color: #f00; }
.help_desc{ display: block; font-size:72px;color: #fff; text-align: center; }
/* support -S */
.support{ padding: 304px 0 0; background-color: #fff;}
.support .brand{ margin: 0 auto 217px; padding:115px 0 103px; width: 604px; height: 386px; position: relative; }
.support .brand::after{content: "";  width: 601px; height: 601px; border-radius: 100%; border: 3px dashed #c3c3c3; position: absolute; left: 0; top: 0; animation: spin 28s infinite;}
.brand .brand_tit{ display: block; margin-bottom: 31px; font-size: 36px; text-align: center;}
.brand .brand_desc{ display: block; margin: 0 auto; width: 250px;height: 33px; background-image: url(../img/student-supply.png);}
.brand_list li{ font-size: 30px; position: absolute;}
.brand_list li::after{content:"";width:30px;height:30px;border-radius: 100%;background-color: #4e54c0;position: absolute; z-index: 10;}
.brand_list li:nth-child(1){left: -300px; top: 258px;}
.brand_list li:nth-child(1)::after{left: 285px; bottom: 0;}
.brand_list li:nth-child(2){left: -140px; top: 590px;}
.brand_list li:nth-child(2)::after{left: 275px; bottom: 39px;}
.brand_list li:nth-child(3){right: -54px; top: 590px;}
.brand_list li:nth-child(3)::after{right: 195px; bottom: 35px;}
.brand_list li:nth-child(4){right: -300px; top: 258px;}
.brand_list li:nth-child(4)::after{right: 285px; bottom: 0;}
.support .detail_list{ margin-bottom:267px; }
.detail_list li{ display: inline-block; margin: 197px 0 0 143px; width: 400px; height: 223px; border-radius: 15px; overflow: hidden; box-shadow:  0 0 10px #000; position: relative; cursor: pointer; }
.detail_list li:hover .detail_box{bottom: 0;}
.detail_list li:hover .detail_tit::after{width: 81px;}
.detail_list li:nth-child(1){background-image: url(../img/community.png);}
.detail_list li:nth-child(2){background-image: url(../img/online-system.png);}
.detail_list li:nth-child(3){background-image: url(../img/marketing.png);}
.detail_list li:nth-child(4){background-image: url(../img/manage.png);}
.detail_list .detail_box{ padding: 14px 0 20px 20px; width: 100%; height: 62px; background-color: #fff; position: absolute; left: 0; bottom: -45px; transition: all 0.3s;}
.detail_box .detail_tit{ display: inline-block; margin-bottom: 19px; font-size: 20px;color:#080b43; position: relative;}
.detail_box .detail_tit::after{content: ""; width: 0; height: 5px; background-color: #f00; position: absolute; right: -100px; top: 7px; transform: rotate(180deg); transition: all 0.3s;}
.detail_box .detail_desc{ display: block; font-size: 14px; color: #757576;}
.support_notice { display: block; font-size: 20px; color: #8c8c8c; text-align: center; }
/* detail -S */
.detail{ padding: 368px 0 287px; background-color: #fff;}
.detail .detail_tit{text-align: center;}
.detail_tit .detail_box1{display: inline-block; margin: 64px 106px 277px 0; vertical-align: top;}
.detail_box1 span{ display: block; font-size: 60px;}
.detail_tit .detail_bar{font-size: 220px; margin-right: 89px;}
.detail_tit .detail_desc{font-size: 220px;}
.detail_formula{ display: block; margin: 0 auto 266px; width: 619px;height: 67px;background-image: url(../img/formula.png);}
.detail .detail_tit2{ margin-bottom: 360px; text-align: center;}
.detail_tit2 span{display: inline-block; font-size: 90px; vertical-align: top; margin-top: 10px;}
.detail_tit2 .detail_ceo{margin: 82px 68px 0 0;}
.detail_tit2 .detail_bar{margin-right: 68px; font-size: 220px;}
.detail_tit2 .detail_pro{margin-top: 82px;}
.submit_box li{ display: inline-block; width: 571px; height: 98px; border-radius: 49px; overflow: hidden;}
.submit_box li:hover .icon_arrow { background-position-x: 50px; }
.submit_box li+li { margin-left: 130px;}
.submit_box a{ display: block; width: 100%; height: 100%; font-size: 40px; color: #fff; line-height: 98px; }
.submit_box .apply_link{background-color: #0d4795; text-align: center;}
.submit_box .question_link{background-color: #080b43; text-indent: 88px;}
.submit_box .icon_arrow{ display: inline-block; width: 49px; height: 21px; background-image: url(../img/arrow.png); vertical-align: top; margin: 39px 0 0 39px; transition: all 0.3s;}
/*  */
.model_think{overflow: hidden; width: 519px; height: 436px; background-image: url(../img/concept.png); background-attachment: fixed; background-position: center center;}
/* .content_think{width: 519px; height: 436px; background-image: url(../img/concept.png); background-attachment:fixed;} */
/* footer */
.footer{background-color:#111622;}
.footer_logo .icon_logo{display: inline-block; width: 50px;height: 36px; background-image: url(../img/f-logo.png);}
.footer_logo .logo_desc{font-size: 30px; color: #333;}

/* animation */
@keyframes scroll { 
  0%{ transform: translateY(0);}
  10%{ transform: translateY(3px); }
  20%{ transform: translateY(6px); }
  30%{ transform: translateY(9px); }
  40%{ transform: translateY(12px); }
  50%{ transform: translateY(12px); }
  60%{ transform: translateY(9px); }
  70%{ transform: translateY(6px); }
  80%{ transform: translateY(3px); }
  100%{ transform: translateY(0px); }
 }
 @keyframes beat {
  0%{transform: translateY(0);}
  50%{transform: translateY(-3px);}
  100%{transform: translateY(-6px);}
  /* 75%{transform: translateY(-3px);}
  100%{transform: translateY(0);} */
 }
 @keyframes spin {
  0%{transform: rotate(45deg);}
  12%{transform: rotate(90deg);}
  24%{transform: rotate(135deg);}
  36%{transform: rotate(180deg);}
  48%{transform: rotate(225deg);}
  60%{transform: rotate(270deg);}
  72%{transform: rotate(315deg);}
  100%{transform: rotate(360deg);}
 }